---
import Layout from "../layouts/Layout.astro";
import Map from "../../static/map.png"
---

<Layout title="About">
	<main>
        <!--Infographic -->
        <h2>About</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam fugit fugiat, nobis dolor corrupti laboriosam ad consequatur? Animi, adipisci magnam?</p>
        <h2>Travel</h2>
        <!--map -->
        <img src={Map}>
	</main>
</Layout>