---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
	<main>
        <h2>About</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam fugit fugiat, nobis dolor corrupti laboriosam ad consequatur? Animi, adipisci magnam?</p>
        <h2>Travel</h2>

	</main>
</Layout>