---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Books">
	<main>
        <h3>Superinteligence <i>- Nick Bostrom</i></h3>
        <p>Thoughts: is simply dummy text of the printing and typesetting industry. </p>
        <br>
        <h3>Booktitle</h3>
        <p>Summary: is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
	</main>
</Layout>