---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experience">
	<main>
        <h2>Work</h2>
		<h3>2022</h3>
		<p>
            • Kikutstua, logistics manager
        </p>
        <h3>2020</h3>
		<p>
            • Oslo kommune/Voksenenga, Gardener (summer job)
        </p>
        <h3>2019</h3>
        <p>
            • ÅF lighting, Oslo, Film editor (summer job)
            • Veidekke, Oslo, Drone pilot/Film editor (summer job)
        </p>
        <p> ( and more )</p>
        <br>
        <h2>Education</h2>
        <h3>2021 - 2022</h3>
        <p>• <b>A+ World Academy</b> | American education and sail training, gap-year </p>
        <p>• <b>Hellerud vgs.</b> | Media &. Communication, basic education</p>
	</main>
</Layout>