---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Experience">
	<main>
		<h3>2022</h3>
		<p>
            * Kikutstua, logistikkansvarlig og bestyrerassistent <br> * Oslo kommune/Voksenenga, Gartner (sommerjobb)
        </p>
        <h3>2021</h3>
		<p>
            * Kikutstua, logistikkansvarlig og bestyrerassistent 
        </p>
	</main>
</Layout>