---
import Hamburger from '../../static/hamburger.png'
import "../styles/hamburgers.css"
---

<button class="hamburger hamburger--spring" type="button">
    <span class="hamburger-box">
        <span class="hamburger-inner"></span>
    </span>
</button>

<script>
    // Look for .hamburger
    var hamburger = document.querySelector(".hamburger");
    var navLinks = document.querySelector(".nav-links")
    // On click
    hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("is-active")
        navLinks.classList.toggle("is-active");
    })
</script>